/* App.css */
.pokemon-info {
  font-size: 14px;
}

.card-body {
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  
}

img
{
max-height: 25%;
}
.row>img
{
  max-width: 30%;

}

.image-container
{
  width: 10px;
}